.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 2px solid darkgray;
  background-color: whitesmoke;
  color: gray;
  min-width: 3rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.Button:hover {
  background-color: rgb(236, 237, 235);
}
