.paginator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttonChangePage {
  min-width: 7rem;
  border-radius: 3px;
  margin: 0.1rem 0.5rem;
  padding: 0.3rem;
  color: gray;
  background-color: whitesmoke;
  border: 2px solid darkgray;
  border-radius: 10px;
}
.buttonChangePage:hover {
  background-color: rgb(236, 237, 235);
}
